header{
    width: 100vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
}

p{
    font-size: 1.3rem;
    text-align: center;
    color: #667085;

}