
.input{
    background: #d8d8d8;
    border: 1px solid #cccccc;
    border-radius: 16px;
    transition: 0.2s;
    width: 100%;
    color: #101828;
    font-size: 0.9rem;
    outline: none;
}

.input:focus{
    background: #fff;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2)
}

